.error-message {
    margin: auto;
    text-align: center;
    margin: 20vh;

    h1 {
        font-weight: 900;
        font-size: 15em;
        line-height: 0.9;
    }
    h4 {
        text-decoration: underline;
    }
}